<div class="login-box">
  <h2>User Info</h2>
  <form >
    <div class="user-box">
      {{input type="text" name="name" value=this.name}}
      <label>Username</label>
    </div>
    <div class="user-box">
      {{input type="email" name="email" value=this.email}}
      <label>Email</label>
    </div>
    <div class="user-box">
      {{input type="text" name="phone" value=this.phone}}
      <label>Phone</label>
    </div>
    <div class="user-box">
      {{input type="text" name="address" value=this.address}}
      <label>Address</label>
    </div>
    
    <div class="user-box">
      {{input type="text" name="role" value=this.role}}
      <label>Role</label>
    </div>
    <div class="user-box">
      {{input type="checkbox" name="isActive" checked=this.active}}
      <label>isActive</label>
    </div>
    <br>
    <button class="button" onClick={{action this.handleCreate }}>Submit</button>
  </form>
</div>
