<div>
  <div class="card">
    <img src="{{model.avatar}}"  style="width:100%">
    <h3>{{model.name}}</h3>
    <p class="title">Role:{{model.role}}</p>
    <p>{{model.email}}</p>
    <p>{{model.address}}</p>
    <p><button class="buttonn">{{model.phone}}</button></p>
  </div>
  {{!-- <p>{{model.task}}</p> --}}
</div>